body {
  width: 100vw;
  height: 300vh;
}

.space-container {
  background: url(starfield-background.jpg) center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.moon {
  position: fixed;
  background: url(moon.png);
  background-size: cover;
  height: 250px;
  width: 250px;
  left: 50px;
  top: 175px;
  z-index: 999;
}

.star {
  position: fixed;
  height: 178px;
  width: 440px;
  background: url(shootingstar-full.png);
  right: -50px;
  top: 50px;
  transform: scaleX(1);
  z-index: 888;
}

.headline {
  font-family: 'Jura', sans-sarif;
  font-size: 3em;
  color:white;
  position: fixed;
  top: 20vh;
  left: 25px;
  z-index: 950;
  text-align: center;
  background-color: #FF5252;
  border-radius: 5px;
}

.stuff {
  font-family: 'Jura', sans-sarif;
}

.yosemite {
  background: url(evening.jpg) center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-content: center;
}

.yosemite-text {
  font-size: 50px;
  color: white;
  background-color: rgba(0,0,0,.8);
  border-radius: 5px;
  height: 75px;
  width:830px;
  text-align: center;
  line-height:75px;
  margin: auto;
}

.san-fran {
  background: url(san-francisco.jpg) center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-content: center;
}

.links {
  color: white;
  font-size: 1.5em;
  bottom: 50px;
  right: 50px;
  height: 30vh;
  width: 70vw;
  background-color: rgba(0, 0, 0, .8);
  margin:auto;
  align-content: center;
  padding: 15px;
  border-radius: 5px;
}
a {
  color: white;
}